/* Project Page Styles */

.project-view {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.project-header h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #4a75b9;
}

.links-list,
.files-list {
  margin-top: 20px;
  min-height: 10rem;
}

.card-actions-project-page {
  display: flex;
  justify-content: space-between; /* מפריד – אחד בצד שמאל ואחד בצד ימין */
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 16px;  /* מרווח מהתחתית */
  left: 16px;    /* מרווח מהצד השמאלי */
  right: 16px;   /* מרווח מהצד הימני */
}


.project-dates {
  margin-top: 8px;
  color: #64748b;   
  font-size: 20px;
  font-style: italic; 
}


@media (max-width: 768px) {
  .project-dates {
    display: none;
  }
}
